{% extends 'home/base.html' %}
{% load sass_tags %}
{% load static %}
{% block head_extends %}
{{block.super}}
  <link rel="stylesheet" href="{% sass_src 'ReactionSocket/scss/gather.scss' %}">
{% endblock %}
{% block title %}リアルタイムリアクションページ{% endblock %}
{% block body %}
<div class="ryoheykai">
  <img src="{% static 'home/img/icon_full.png' %}" alt="">
</div>

<footer class="footer">
  <div class="container">
    <label for="customRange1">音量調節</label>
    <input type="range" class="custom-range" id="customRange1"  min="0" max="1" step="0.001" value=1>
    <div class="btn btn-info" onclick="playAudio('{% static 'ReactionButton/audio/UsoSE.wav' %}');">
      音量テスト！
    </div>
  </div>
</footer>
{{ conf_id|json_script:"conf_id" }}
{% endblock %}

{% block js_extends %}
{{block.super}}
<script type="text/javascript" src="{% static 'ReactionSocket/js/gather.js' %}"></script>
{% endblock %}
