{% extends 'home/layout.html' %}
{% load sass_tags %}
{% load static %}
{% block head_extends %}
{{block.super}}
  <link rel="stylesheet" href="{% sass_src 'ReactionSocket/scss/gather.scss' %}">
{% endblock %}
{% block title %}リアルタイムリアクションページ{% endblock %}
{% block content %}
{{block.super}}
<div class="h4">
  リアルタイムリアクション
</div>
<div class="mt-3">
  他の人がボタンを押すと音が鳴ります．
</div>
<div class="btn btn-info mt-3" onclick="playAudio('{% static 'ReactionButton/audio/UsoSE.wav' %}');">
  音量テスト！
</div>
<br>
<div class="mt-3">
  <label for="customRange1">音量調節</label>
  <input type="range" class="custom-range" id="customRange1"  min="0" max="1" step="0.001" value=1>
</div>
{{ conf_id|json_script:"conf_id" }}
{% endblock %}

{% block js_extends %}
{{block.super}}
<script type="text/javascript" src="{% static 'ReactionSocket/js/gather.js' %}"></script>
{% endblock %}
