{% extends 'ReactionButton/layout.html' %}
{% load sass_tags %}
{% load static %}
{% block head_extends %}
{{block.super}}
  <link rel="stylesheet" href="{% sass_src 'ReactionButton/scss/home.scss' %}">
{% endblock %}
{% block title %}HOME{% endblock %}
{% block content %}
{{block.super}}
<div class="contents">
  ここに本文
</div>
{% endblock %}

{% block js_extends %}
{{block.super}}
<script type="text/javascript" src="{% static 'ReactionButton/js/home.js' %}"></script>
{% endblock %}
