{% extends 'home/layout.html' %}
{% load sass_tags %}
{% load static %}
{% block head_extends %}
{{block.super}}
  <link rel="stylesheet" href="{% sass_src 'ReactionButton/scss/ReactionResult.scss' %}">
{% endblock %}
{% block title %}サイトマップ{% endblock %}
{% block content %}
{{block.super}}
<div class="h2 font-weight-bold">
  {{conf}}のリアクション結果
</div>
<div class="d-flex">
  <table class="table table-striped">
    <thead>
      <th scope="col" class="text-center">#</th>
      <th scope="col" class="text-center">プレゼンター</th>
      {% for rt in reaction_type %}
      <th scope="col" class="text-center">{{rt.description}}</th>
      {% endfor %}
      <th scope="col" class="text-center">合計</th>
    </thead>
    <tbody>
      {% for r in reactions %}
      <tr>
        <th scope="row" class="text-center">{{forloop.counter}}</th>
        <td class="text-center">{{r.presenter.user.get_called_name}}</td>
        {% for reaction in r.reactions %}
        <td class="text-center">
          {% if reaction is not None %}
          {{reaction.count}}
          {% else %}
          0
          {% endif %}
        </td>
        {% endfor %}
        <td class="text-center">{{r.sum}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <!-- {% for r in reactions %}
  <div class="card m-2">
    <div class="card-body">
      <h4 class="card-title font-weight-bold">
        {{r.presenter.user.get_called_name}}
      </h4>
      <p class="card-text">
        {% for reaction in r.reactions %}
          {{reaction.reaction_type.description}} <br>
          {{reaction.count}} <br>
        {% endfor %}
      </p>
    </div>
  </div>
  {% endfor %} -->
</div>
{% endblock %}

{% block js_extends %}
{{block.super}}
<script type="text/javascript" src="{% static 'ReactionButton/js/ReactionResult.js' %}"></script>
{% endblock %}
