{% load sass_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="ja">
 <head>
  <meta charset="utf-8">
  <title>遼平会リアクションボタン</title>
  <link rel="icon" type="image/png" href="{% static 'RyoheyMeeting/icon/favicon.ico' %}">
  <meta name="description" content="リアクションボタンのページ">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% sass_src 'ReactionButton/scss/style.scss' %}">
  <!-- [if lt IE 9] -->
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
  <!-- [endif] -->
 </head>

 <body>
  <div class="main">
    <a href="{% url 'ReactionButton_home' %}">特設ページトップへ戻る</a> <br>
    <h1>リアクションボタン</h1>
  </div>

  <div class="contents">
    <h3>{{dest_user.get_called_name}}さんへリアクションを送ろう！</h3>
    <h5><span class="blue">青</span>=ちょいまち　<span class="red">赤</span>＝いいね　<span class="yellow">黄</span>＝スーパーいいね</h4>
    <!-- スタンプを並べる -->
    <div class="contents-item">
      <img src="{% static 'ReactionButton/img/B_Pon_Uso.png' %}" width="100" height="100" onclick="sendReaction(0, '{% static 'ReactionButton/audio/UsoSE.wav' %}')"/>
      <img src="{% static 'ReactionButton/img/R_Kantaro_Sekaiichi.png' %}" width="100" height="100" onclick="sendReaction(1, '{% static 'ReactionButton/audio/seikaiichiSE.wav' %}')"/>
      <img src="{% static 'ReactionButton/img/Y_Keisuke_collvo.png' %}" width="100" height="100" onclick="sendReaction(2, '{% static 'ReactionButton/audio/collvodesuSE.wav' %}')"/>
    </div>
    <br><br><br><br><br>

    <div class="contents-item">
      <img src="{% static 'ReactionButton/img/B_Sugi_Sumanay.png' %}" width="100" height="100" onclick="sendReaction(0, '{% static 'ReactionButton/audio/sumaneSE.wav' %}')"/>
      <img src="{% static 'ReactionButton/img/R_Ryohey_Saikodesu1.png' %}" width="100" height="100" onclick="sendReaction(1, '{% static 'ReactionButton/audio/saikodesu_normalSE.wav' %}')"/>
      <img src="{% static 'ReactionButton/img/Y_Pon_Omaedake.png' %}" width="100" height="100" onclick="sendReaction(2, '{% static 'ReactionButton/audio/OmaedakeyaSE.wav' %}')"/>
      </div>
    <br><br><br><br><br>

    <div class="contents-item">
      <img src="{% static 'ReactionButton/img/B_Yamachan_SecondaryTurbin.png' %}" width="100" height="100" onclick="sendReaction(0, '{% static 'ReactionButton/audio/secondarySE.wav' %}')"/>
      <img src="{% static 'ReactionButton/img/R_Pon_SaikouNoTomodachiYa.png' %}" width="100" height="100" onclick="sendReaction(1, '{% static 'ReactionButton/audio/SaikounoTomodachidaSE.wav' %}')"/>
      <img src="{% static 'ReactionButton/img/Y_Satoshi_Okasarechau.png' %}" width="100" height="100" onclick="sendReaction(2, '{% static 'ReactionButton/audio/okasachauSE.wav' %}')"/>
    </div>
    <br><br><br><br><br>

    <div class="contents-item">
      <img src="{% static 'ReactionButton/img/B_Ryohey_chottomatte.png' %}" width="100" height="100" onclick="sendReaction(0, '{% static 'ReactionButton/audio/tyottomatteSE.wav' %}')"/>
      <img src="{% static 'ReactionButton/img/R_Kantaro_Subarashii.png' %}" width="100" height="100" onclick="sendReaction(1, '{% static 'ReactionButton/audio/SubarashiiSE.wav' %}')"/>
      <img src="{% static 'ReactionButton/img/T _Takashi_tent.png' %}" width="100" height="100" onclick="sendReaction(2, '{% static 'ReactionButton/audio/tentoikouSE.wav' %}')"/>
    </div>
    <br><br><br><br><br>

    <div class="contents-item">
      <img src="{% static 'ReactionButton/img/B_Takashi_Chushi.png' %}" width="100" height="100" onclick="sendReaction(0, '{% static 'ReactionButton/audio/TyuushiSE.wav' %}')"/>
      <img src="{% static 'ReactionButton/img/R_Ryohey_Saikodesu2.png' %}" width="100" height="100" onclick="sendReaction(1, '{% static 'ReactionButton/audio/saikodesuSE.wav' %}')"/>
      <img src="{% static 'ReactionButton/img/Y_Pon_UnchokochokoBee.png' %}" width="100" height="100" onclick="sendReaction(2, '{% static 'ReactionButton/audio/unnchocoSE.wav' %}')"/>
    </div>
    <br><br><br><br><br>

    <div class="contents-item">
      <img src="{% static 'ReactionButton/img/B_Keisuke_TekitouNaKotoIunaYo.png' %}" width="100" height="100" onclick="sendReaction(0, '{% static 'ReactionButton/audio/tekitouSE.wav' %}')"/>
      <img src="{% static 'ReactionButton/img/R_Satoshi_superStimuli.png' %}" width="100" height="100" onclick="sendReaction(1, '{% static 'ReactionButton/audio/ChojoShigekiSE.wav' %}')"/>
      <img src="{% static 'ReactionButton/img/Y_Pon_Hayaku.png' %}" width="100" height="100" onclick="sendReaction(2, '{% static 'ReactionButton/audio/hayakuSE.wav' %}')"/>
    </div>
    <br><br><br><br><br>

    <div class="contents-item">
      <img src="{% static 'ReactionButton/img/B_Satoshi_ParentalControl.png' %}" width="100" height="100" onclick="sendReaction(0, '{% static 'ReactionButton/audio/pearentalControlSE.wav' %}')"/>
      <img src="{% static 'ReactionButton/img/R_Sugi_Yeah_ver2.png' %}" width="100" height="100" onclick="sendReaction(1, '{% static 'ReactionButton/audio/yeahhhhSE.wav' %}')"/>
      <img src="{% static 'ReactionButton/img/Y_3jiMensetsuDeOchita.png' %}" width="100" height="100" onclick="sendReaction(2, '{% static 'ReactionButton/audio/SanziOchitaSE.wav' %}')"/>
    </div>
    <br><br><br><br><br>

    <div class="contents-item">
      <img src="{% static 'ReactionButton/img/B_Yamachan_Shirakoi_ver3.png' %}" width="100" height="100" onclick="sendReaction(0, '{% static 'ReactionButton/audio/SkaShirakoiSE.wav' %}')"/>
      <img src="{% static 'ReactionButton/img/R_Takashi_WakuwakuSuruNa.png' %}" width="100" height="100" onclick="sendReaction(1, '{% static 'ReactionButton/audio/wakuwakuSuruzoSE.wav' %}')"/>
      <img src="{% static 'ReactionButton/img/Y_Takashi_AnnAnn.png' %}" width="100" height="100" onclick="sendReaction(2, '{% static 'ReactionButton/audio/ahahSE.wav' %}')"/>
    </div>
    <br><br><br><br><br>

    <div class="contents-item">
      <img src="{% static 'ReactionButton/img/B_Sugi_encore.png' %}" width="100" height="100" onclick="sendReaction(0, '{% static 'ReactionButton/audio/Anchole2SE.wav' %}')"/>
      <img src="{% static 'ReactionButton/img/R_Kan_NaiteMoutaraDouSiyou.png' %}" width="100" height="100" onclick="sendReaction(1, '{% static 'ReactionButton/audio/NaitemoutaraSE.wav' %}')"/>
    </div>
    <br><br><br><br><br>

    <div class="contents-item">
      <div style="display:inline-block;width:100px;height:100px"></div>
      <img src="{% static 'ReactionButton/img/B_Yama_haventPrestudy.png' %}" width="100" height="100" onclick="sendReaction(1, '{% static 'ReactionButton/audio/YoshusitekitenaiSE.wav' %}')"/>
    </div>
    <br><br><br><br><br>

  </div>

  <input type="hidden" id="userid" value="{{userid}}">

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="{% static 'ReactionButton/js/func.js' %}"></script>
  <script type="text/javascript" src="{% static 'ReactionButton/js/main.js' %}"></script>
 </body>
</html>
