{% extends 'home/layout.html' %}
{% load sass_tags %}
{% load static %}
{% block head_extends %}
{{block.super}}
  <link rel="stylesheet" href="{% sass_src 'ReactionButton/scss/ReactionResult.scss' %}">
{% endblock %}
{% block title %}サイトマップ{% endblock %}
{% block content %}
{{block.super}}
<div class="h2 font-weight-bold">
  リアクション結果
</div>
<div class="d-flex">
  {% for r in reactions %}
  <div class="card m-2">
    <div class="card-body">
      <h4 class="card-title font-weight-bold">
        {{r.presenter.user.get_called_name}}
      </h4>
      <p class="card-text">
        {% for reaction in r.reactions %}
          {{reaction.reaction_type.description}} <br>
          {{reaction.count}} <br>
        {% endfor %}
      </p>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}

{% block js_extends %}
{{block.super}}
<script type="text/javascript" src="{% static 'ReactionButton/js/ReactionResult.js' %}"></script>
{% endblock %}
