{% load sass_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="ja">
 <head>
  <meta charset="utf-8">
  <title>遼平会リアクションボタン</title>
  <meta name="description" content="リアクションボタンのページ">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% sass_src 'ReactionButton/scss/style.scss' %}">
  <!-- [if lt IE 9] -->
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
  <!-- [endif] -->
 </head>

 <body>
  <div class="main">
    <h1>最高の遼平会へ<span>.</span></h1>
    <h2>リアクションボタンページへようこそ</h2>
  </div>

  <div class="contents">
    <h3 class="section-title">選べるリアクション</h3>
    <!-- スタンプを並べる -->
    <div class="contents-item1">
      <img src="{% static 'ReactionButton/img/B_Pon_Uso.png' %}" width="100" height="100">
    </div>
    <div class="contents-item1">
      <img src="{% static 'ReactionButton/img/R_Kantaro_Sekaiichi.png' %}" width="100" height="100">
    </div>
    <div class="contents-item1">
      <img src="{% static 'ReactionButton/img/Y_Keisuke_collvoTteKakkoii.png' %}" width="100" height="100">
    </div>
    <p>　</p>
    <p>　</p>
    <p>　</p>
    <div class="contents-item2">
      <img src="{% static 'ReactionButton/img/B_Ryohey_chottomatte.png' %}" width="100" height="100">
    </div>
    <div class="contents-item2">
      <img src="{% static 'ReactionButton/img/R_Pon_OmaehaSaikounoTomodachiya.png' %}" width="100" height="100">
    </div>
    <div class="contents-item2">
      <img src="{% static 'ReactionButton/img/Y_Satoshi_Okarechau.png' %}" width="100" height="100">
    </div>
    <p>　</p>
    <p>　</p>
    <p>　</p>
    <div class="contents-item3">
      <img src="{% static 'ReactionButton/img/B_Sugi_Sumanay.png' %}" width="100" height="100">
    </div>
    <div class="contents-item3">
      <img src="{% static 'ReactionButton/img/R_Kantaro_Subarashii.png' %}" width="100" height="100">
    </div>
    <div class="contents-item3">
      <img src="{% static 'ReactionButton/img/Y_Takashi_Tentikou.png' %}" width="100" height="100">
    </div>
    <p>　</p>
    <p>　</p>
    <p>　</p>
    <div class="contents-item4">
      <img src="{% static 'ReactionButton/img/B_Takashi_Tyuushi.png' %}" width="100" height="100">
    </div>
    <div class="contents-item4">
      <img src="{% static 'ReactionButton/img/R_Ryohey_SaikodesuSuper.png' %}" width="100" height="100">
    </div>
    <div class="contents-item4">
      <img src="{% static 'ReactionButton/img/Y_Pon_Omaedakeya.png' %}" width="100" height="100">
    </div>
    <p>　</p>
    <p>　</p>
    <p>　</p>
    <div class="contents-item5">
      <img src="{% static 'ReactionButton/img/B_Yamachan.png' %}" width="100" height="100">
    </div>
    <div class="contents-item5">
      <img src="{% static 'ReactionButton/img/R_Ryohey_Saikodesu.png' %}" width="100" height="100">
    </div>


  </div>

  <input type="hidden" id="userid" value="{{userid}}">

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="{% static 'ReactionButton/js/func.js' %}"></script>
  <script type="text/javascript" src="{% static 'ReactionButton/js/main.js' %}"></script>
 </body>
</html>
