{% extends 'home/base.html' %}

{% load sass_tags %}
{% load static %}

{% block head_extends %}
{{block.super}}
<link rel="stylesheet" href="{% sass_src 'registration/scss/signinup.scss' %}">
{% endblock %}

{% block title %}とうろく{% endblock%}

{% block body %}
<div class="container">
  <h2>
    <img src="{% static 'home/img/icon_full.png' %}" alt="">
  </h2>
  <form method="POST" action="{% url 'signup' %}">
    {% csrf_token %}
    <div class="field">
      <p class="field-name">User Name</p>
      <p class="error">{{form.username.errors.0}}</p>
      <i class="fas fa-user"></i>
      {{form.username}}
    </div>
    <div class="field">
      <p class="field-name">Password</p>
      <p class="error">{{form.password1.errors.0}}</p>
      <i class="fas fa-key"></i>
      {{ form.password1 }}
    </div>
    <div class="field">
      <p class="field-name">Password (again)</p>
      <p class="error">{{form.password2.errors.0}}</p>
      <i class="fas fa-key"></i>
      {{ form.password2 }}
    </div>
    <div class="field">
      <p class="field-name">Your Nickname</p>
      <p class="error">{{form.nickname.errors.0}}</p>
      <i class="far fa-smile"></i>
      {{ form.nickname }}
    </div>
    <button type = "submit">Sign UP</button>
  </form>
  <div class="other">
    <div class="other-method">
      <p class="pt-3">-- If you have account --</p>
      <a href="{% url 'login' %}" class="method-signup">LOGIN</a>
    </div>
  </div>
</div>
{% endblock %}
